$primary-color: #18C576;
$hover-color: #0056b3;
$background-color-light: #fff;
$background-color-dark: #F2F2F2;
$accent-color: #18C576;
$font-size-base: 1rem;
$font-weight-bold: 400;
$font-weight-medium: 400;
$font-weight-primary: 600;
$radius-small: 5px;
$padding-small: 0.5rem;
$padding-large: 1rem;
$padding-extra: 2rem;
$padding-extra-large: 3rem;
$max-width-banner: 80vw;
$max-height-banner: 90vh;
$video-margin: 3rem;
$zero-indent: 0;
$full-width: 110vw;
$full-height: 100vh;