@import '_generals';

@media (min-width: 770px) and (max-width: 1350px) {

  .banner img {
	min-width: 784px;
	width: 100%;
	height: 100%;
    max-height: 317px;
  }

};

@media (min-width: 1050px) and (max-width: 1250px) {
	.card__container {
		padding: 64px 10px;
	}
}

@media (min-width: 1050px) and (max-width: 1380px) {
  .card__details {
    flex-direction: column;
  }
}

@media (min-width: 1024px) and (max-width: 1350px) {



  .card--dove,
  .card--carrot {
    width: 100%;
  }

  .card--pea {
    flex: 1 0 30vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    &__image {
      height: 40vh;
    }
  }

  .card__column-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  }
  	.card--dove, .card--carrot {
		min-width: 310px;
		flex: 0 0 350px;
	}

  .card__dove {
    padding: $padding-extra;
  }

  .card__container {
    flex-wrap: wrap;
    padding: $padding-extra;
  }

  .card--pea {
    order: -3;
    flex: 0 1 50%;
  }
  .card--popcorn {
    order: -2;

    .card__sale {
      display: none;
    }
    .card__status {
      display: block;
    }
    .card__hidden {
      display: inline;
      background-color: #ac59f1;
      color: #fff;
      padding: 0.4rem;
      border-radius: 50px;
    }
    .card__daily {
      display: none;
    }
  }
  .card--icecream {
    order: -1;
  }
}

@media (max-width: 768px) {

  .card {
    transition: transform 0.5s ease, opacity 0.5s ease;
	max-width: 700px;
  }

  
  .card__column-layout {
	  width: 100%;
	  align-items: center;
	}
	


  .banner {
    height: 30%;

	&__video {
	padding: 20px
	}
  }

  .card__container {
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    padding: 48px 16px;
  }

  .banner__image {
    max-height: 204px;
    margin: 48px 16px;
  }
  .card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }
  .card__details {
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .card__badge-wrapper {
    display: flex;
    flex-direction: row;
  }
  .card--pea {
    min-height: 328px;
  }

  .card__button {
    text-align: center;
    width: 100% !important;
  }

  .card--icecream,
  .card--popcorn {
    .card__content {
      display: flex;
    }
    .card__title {
      align-self: flex-start;
    }
    .card__details {
      height: 100vh;
    }
    .card__badge-wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  .card--carrot,
  .card--dove {
    width: 100%;
  }


  .card-form__group:last-child {
	display: flex;
	flex-direction: column;
    gap: 0.3rem;
    label {
      white-space: normal;
    }
    button {
      margin-right: 0.3rem;
    }
    p {
      margin: 0;
    }
  }
}

@media (max-width: 1180px) {
  .card-form {
    width: 45vw;
  }
}
@media (max-width: 920px) {
  .card-form {
    width: 60vw;
  }
}

@media (max-width: 750px) {


	// .slider__container {
	// 	display: flex;
	// 	flex-wrap: nowrap;
	// }
	
  .card-form {
    padding: 0.3rem;
  }

  .card--popcorn, .card--icecream {
	width: 230px;
  };

  .card--dove, .card--carrot {
	min-width: 0;
  }

  	.card__slider-button {
		width: $padding-large;
		height: $padding-large;
		background-color: #d3d3d3;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color 0.3s;
	}
	
	.card__slider {
	  display: flex;
	  position: absolute;
	  bottom: 20px;
	  gap: $padding-small;
	  justify-content: center;
	  align-items: center;
	}
  
	.card__slider-input {
	  display: none;
	}

  .card--popcorn.center {
    transform: translateX(45%); /* Центрируем карточку попкорна */
    opacity: 1;
    z-index: 2;
  }

  .card--popcorn.offset {
    transform: translateX(-70%); /* Смещаем карточку попкорна влево */
    z-index: 1;
    opacity: 0.4;
  }

  .card--icecream.center {
    transform: translateX(-40%); /* Центрируем карточку мороженого */
    z-index: 2;
    opacity: 1;
  }

  .card--icecream.offset {
    transform: translateX(50%); /* Смещаем карточку мороженого вправо */
    z-index: 1;
    opacity: 0.4;
  }

  #slide1:checked + .card__slider-button,
  #slide2:checked + .card__slider-button {
    background-color: #333;
  }
}


@media (max-width: 500px) {
        .card-form {
			padding: 1rem;
		}
}